<div class="card">
    <h4 class="card-header">Generate {{TemplateName}}</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" formControlName="data"  (change)="onFileChange($event)" [ngClass]="{ 'is-invalid': submitted && f.data.errors }" accept=".csv,.json">   
                    <label class="custom-file-label" for="customFile">{{inputText}}</label>
                    <div *ngIf="submitted && f.data.errors" class="invalid-feedback">
                        <div *ngIf="f.data.errors.required">Data File is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" formControlName="config" [ngClass]="{ 'is-invalid': submitted && f.config.errors }">
                    <label class="custom-file-label" for="customFile">Select config file</label>
                    <div *ngIf="submitted && f.config.errors" class="invalid-feedback">
                        <div *ngIf="f.config.errors.required">Config File is Error</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Generate
                </button>
                <a routerLink="../login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>