<div class="col-md-8 offset-md-2 mt-5">
    <div class="container">
        <div class="card my-5">
            <div class="card-header text-white bg-dark">
                <h4>Logs</h4>
            </div>
            <div class="card-body">
                <div class="row px-3 align-items-center">
                    <form class="form-inline md-form form-sm active-cyan-2 w-40 ml-auto" [formGroup]="myForm" (submit)="onSubmit()">
                        <input class="form-control form-control-sm ml-auto w-40" type="text" placeholder="Search by role or uid"
                            aria-label="Search by role or uid" formControlName="keyword" mdbInput>
                        <button type="submit" style="border: none; background-color: transparent;"><mdb-icon fas icon="search" aria-hidden="true"></mdb-icon></button>
                    </form>
                </div>
        
                <table mdbTable class="table" #tableEl="mdbTable">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 30%">date</th>
                            <th scope="col" style="width: 15%">Role</th>
                            <th scope="col" style="width: 15%">uid</th>
                            <th scope="col" style="width: 15%">method</th>
                            <th scope="col" style="width: 15%">target</th>
                            <th scope="col" style="width: 10%">target id</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let log of logs; let i = index">
                            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{log.createdAt}}</td>
                            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex && log.template_id">designer</td>
                            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex && log.file_id">user</td>
                            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex && log.user">admin</td>
                            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{log.uid}}</td>
                            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{log.method}}</td>
                            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex && log.template_id">template</td>
                            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex && log.file_id">file</td>
                            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex && log.user">user</td>
                            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex && log.template_id">{{log.template_id}}</td>
                            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex && log.file_id">{{log.file_id}}</td>
                            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex && log.user">{{log.user}}</td>
                        </tr>
                        <tr *ngIf="!logs">
                            <td colspan="6" class="text-center">
                                <span class="spinner-border spinner-border-lg align-center"></span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="grey lighten-5 w-100">
                        <tr>
                          <td colspan="6">
                            <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="logs"></mdb-table-pagination>
                          </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>