<div class="d-flex justify-content-center p-3">
    <div class="row p-3">
        <img src="../../assets/image/logo_transparent.png" style="width: 100px; height: 100px;">
        <h1 style=" margin-left: 20px;">Visualization Platform</h1>
    </div> 
</div>
<div class="col-md-6 offset-md-3 mt-3">
    <!--div class="custom-text-box">
        <h1 style="color: white;">Simply create your own Interactive Visualization</h1>
    </div-->
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
            <img class="carousel-img" src="../../assets/image/1.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img class="carousel-img" src="../../assets/image/2.jpg" alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img class="carousel-img" src="../../assets/image/3.jpg" alt="Third slide">
        </mdb-carousel-item>
    </mdb-carousel>

    <div class="text-center p-3">
        <a routerLink="/tutorial"><button class="button" type="submit"><span>Get Started </span></button></a>
    </div>
    

</div>