<video autoplay muted loop id="myVideo" oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source src="{{apiUrl}}/static/main_video_optimized.mp4" type="video/mp4">
</video>

<div class="content">
    <div class="row justify-content-center align-items-end">
        <img src="../../assets/image/logo_transparent.png" style="width: 100px; height: 100px;">
        <h1 style=" margin-left: 20px;">Visualization Platform</h1>
    </div>
    <p class="font-20">Create your own interactive visualization easily.</p> 
</div>
<!--div class="col-md-6 offset-md-3 mt-3">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
            <img class="carousel-img" src="../../assets/image/1.jpg" alt="First slide" style="max-height: 600px; max-width: 100%;object-fit: cover;">
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img class="carousel-img" src="../../assets/image/2.jpg" alt="Second slide" style="max-height: 600px; max-width: 100%;object-fit: cover;">
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img class="carousel-img" src="../../assets/image/3.jpg" alt="Third slide" style="max-height: 600px; max-width: 100%;object-fit: cover;">
        </mdb-carousel-item>
    </mdb-carousel>
    
    image : <a href="http://www.freepik.com">Designed by fullvector / Freepik</a>
    
    <div class="text-center p-3">
       <a routerLink="/tutorial"><button class="button" type="submit"><span>GET STARTED </span></button></a>
    </div>
    

</div-->