<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="!user">
  <div class="navbar-nav">
    <a class="nav-item nav-link px-3" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="nav-item nav-link px-3" routerLink="/tutorial" routerLinkActive="active">Tutorial</a>
    <a class="nav-item nav-link px-3" routerLink="/api" routerLinkActive="active">API</a>
    <a class="nav-item nav-link px-3" target="_blank" rel="noopener noreferrer"  href="https://github.com/nonyo555/Visualization-Platform">Source</a>   
  </div>
  <ul class="navbar-nav ml-auto">
    <a class="nav-item nav-link" routerLink="/account/register" routerLinkActive="active">Register</a>
    <a routerLink="/account/login"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log in</button></a>
  </ul>
</nav>

<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user&&user.role=='admin'">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
  </div>
  <ul class="navbar-nav ml-auto">
    <a class="nav-item nav-link" (click)="logout()">Log out</a>
  </ul>
</nav>

<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user&&(user.role=='user'||user.role=='designer')">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" routerLink="/tutorial" routerLinkActive="active">Tutorial</a>
      <a class="nav-item nav-link" routerLink="/api" routerLinkActive="active">API</a>
      <a class="nav-item nav-link" target="_blank" rel="noopener noreferrer"  href="https://github.com/nonyo555/Visualization-Platform">Source</a>   
      <a class="nav-item nav-link" routerLink="/generate" routerLinkActive="active">Generate</a>
  </div>
  <ul class="navbar-nav ml-auto">
    <a class="nav-item nav-link" (click)="logout()">Log out</a>
  </ul>
</nav>


<!-- main app container -->
<div class="app-container" style="height: 100vh;">
  <alert></alert>
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container p-3">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h5 class="text-uppercase text-center" style="font-family: fantasy;">contact us</h5>
        <p>
          <i class="fab fa-line"></i>
          Line : @visualizationplatform</p>
        <p>
          <i class="fa fa-phone-square"></i>
          Phone : 02-222-2222
        </p>
        <p>
          <i class="fa fa-envelope"></i>
          Email : visualplatform@gmail.com
        </p>
      </div>
    </div>
    <hr>
  </div>
</footer>
