<div class="col-md-6 offset-md-3 mt-5">
    <div class="container mb-5">
        <h1>Hi {{user.firstName}}!</h1>
        <p>You're logged in with {{user.role}} role</p>

        <div class="card" *ngIf="role == 'user' ||  role == 'designer'">
            <h4 class="card-header">Your Visualization</h4>
            <div class="card-body">
                <div class="text-right"><p>You have created : {{count}}/20 Visualizations</p></div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 30%">Refid</th>
                            <th style="width: 30%">Template</th>
                            <th style="width: 30%">Status</th>
                            <th style="width: 10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items">
                            <td>{{item.refId}}</td>
                            <td>{{item.template}}</td>
                            <td>{{item.status}}</td>
                            <td style="white-space: nowrap">
                                <a routerLink="/generate/result/{{item.refId}}" class="btn btn-sm btn-success mr-1">View</a>
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-sm btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Manage</button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                                            <a routerLink="/generate/edit/{{item.refId}}"><button class="dropdown-item">Edit</button></a>
                                            <button class="dropdown-item" (click)="delete(item.id,item.refId)" [disabled]="item.isDeleting">
                                                <span *ngIf="item.isDeleting" class="spinner-border spinner-border-sm"></span>
                                                <span *ngIf="!item.isDeleting">Delete</span>
                                            </button>
                                            <button class="dropdown-item">Deactivate</button>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Copy ppt url</a>
                                        </div>
                                </div>      
                            </td>
                        </tr>
                        <tr *ngIf="!items">
                            <td colspan="4" class="text-center">
                                <span class="spinner-border spinner-border-lg align-center"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>